body {
  background-image: url(/Curriculo/Imagens/CBT8E0c.jpg);
  background-size: cover;
  background-position: center center;
}

#Cabeça {
    background-color: red;
    height: 100px;
    width: 100px;
    border-width: 10px;
    border-style: solid;
    border-color: grey red;
    border-radius: 50%;
    display: inline-block;
}
#Cabeça2{
    background-color: rgb(167, 30, 30);
    border-radius: 10px;
    width: 1000px;
    display: inline-block;
    padding-bottom: 50px;
    position: sticky;
    
}
a{
  color:black;
  padding-left: 0px;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 110px;
  }
  a:visited{
    background-color: red;
    color:black;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
  }
  #Inicio{
    display: inline-block;
    padding-top: 50px;
    font-size: larger;
  }
  #Botão1{
    display: inline-block;
  }
  #Botão2{
    display: inline-block;
    
  }
  #Botão3{
    display: inline-block;
  }
  #Botão4{
    display: inline-block;
  }
 
 h1{ 
  color: white;
  text-align: center;
 }
 p{
  color: white;
  text-transform: uppercase;
  text-align: center;
 }
#Mente{
 width: 300px;
 margin-left: 38%;
}